@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.aa
{background: blue;color: white;} .bb {
  background: blue;
  color: white;

  .nested { background: blue;}
}
.cc { &:hover { color: white}}
@media print { .aa {background: white} }
